
main{
    background-color:  rgb(249, 245, 245);;
}
.hero-section{
    overflow: hidden;
    
}
.img-hero-section{
    width: 1550px;
}

.img-box-section .inner-box{
    margin-top: 3rem;
    border: none;

  }

  .inner-img{
    border-radius: 2px;
  }



.inner_container{
    margin: 20px 173px auto;
   
    width: 1230px;
    height: auto;
    border: 2px solid rgb(241, 235, 235);
    padding-left: 40px;
    padding-top: 30px;
    background-color:rgb(255, 255, 255);;
}