.container{
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(231, 219, 219);
      
  }
  
  
  .logo img{
      width: 160px;
      height: 74px;
  }
  .search-location input{
      width: 179px;
      height: 50px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: regular;
      border-radius: 3px;
      text-align:center;
      color: rgb(172, 159, 159);
      background-color: rgb(236, 233, 233);
      /* border: none; */
      border: 1px solid #ccc;
      
  }
  .search-location input:hover{
    border:none;
  }
  .search-icon .search-icon-svg{
      width: 44px;
      height: 30px;
      position: absolute;
      margin-top: -37px;
      margin-left: 40px;
      cursor: pointer;
  }

  
  .search-cars{
      width: 220px;
      height: 50px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: regular;
      padding-left: 20px;
      border-radius: 3px;
      text-align: start;
      color: rgb(172, 159, 159);
      background-color: rgb(236, 233, 233);
      /* border: none; */
      border: 1px solid #ccc;
  }
  .search-icon-svg3{
      width: 44px;
      height: 30px;
      position: absolute;
      margin-top: 10px;
       margin-left:169px;
      cursor: pointer;
  }
  .search-vahcle .search-icon-svg{
      margin-left: -20px;
  }
  .header-category{
    border-bottom: 2px solid rgb(231, 219, 219);
  
  }
  .categories p {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #333333;
    }
    .dropdown a {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: regular;
      color: #333333;
    }
    .dropdown a:hover {
      color: #007BFF;
    }
    .header-category p {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
      text-decoration: none;
      transition: text-decoration 1.5sec; 
    }
    
    .header-category p:hover {
      text-decoration: underline ;
      
    }
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      background-color: white;
     
    } 
    .rounded-dropdown:hover .dropdown-content {
      display: block;
      position: absolute;
    }
   